.newuser{
    color: aliceblue;
    font-size: small;
    margin-top: 3%;
    
}

.form-label{
    color: aliceblue;
    font-size: 1.5rem;
    margin-bottom: 1.5%;
    
}

.formAdjust{
    margin-left: 35%;
    margin-right: 39%;
    margin-top: 5rem;
    margin-bottom: auto;
    text-align: center;
}

.form-control{
    text-align: center;
}

